@model IEnumerable<Q._3CMS.Ass.Models.Customer>
<div>
    @using (Html.BeginForm("Index", "Customers", FormMethod.Get))
    {
        @Html.TextBox("searching")<input type="submit" value="Search" />
    }

<table class="table table-striped">
    <thead>
    <th>Customer Id</th>
    <th>Customer Name</th>
    <th>City</th>
    <th>Age</th>
    <th>Phone</th>
    <th>Pincode</th>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    No match found
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
    <tr>
        <td>@item.CustomerId</td>
        <td>@item.CustomerName</td>
        <td>@item.City</td>
        <td>@item.Age</td>
        <td>@item.Phone</td>
        <td>@item.Pincode</td>
    </tr>
            }
        }
    </tbody>
</div>
</table>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pincode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pincode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CustomerId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })
            </td>
        </tr>
    }

</table>
